@font-face {
    font-family: 'geomanistregular';
    src: url('../fonts/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** RESET */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 130%;
	min-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** COMMON */

body {
	background: #000;
	font-family: 'geomanistregular', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
}

main {
	display: flex;
}

.container.image {
	width: 700px;
	display: inline-block;
}

.container.image img {
	max-width: 100%;
	height: auto;
}

.container.sounds {
	width: calc(100% - 600px);
}

/** HEADER */

.header {
	padding: 50px 0 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: auto;
	height: 50px;
	background: url(../img/horrorli.svg) left no-repeat;
	display: inline-block;
	padding: 7px 0 5px 160px;
	margin: 0;
	color: #B2B2B2;
	font-weight: bold;
	position: relative;
}

.logo span {
	font-weight: normal;
}

.logo a {
	color: #B2B2B2;
}

/** BLOOD */

.blood {
	width: 6px;
	height: 9px;
	background-image: url(../img/blood.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
}

.blood.one {
	top: 33px;
	left: -1px;
    z-index: -1;
    animation-name: animateBloodOne;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    /*Safari and Chrome: */
    -webkit-animation-name: animateBloodOne;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    /* Firefox */
    -moz-animation-name: animateBloodOne;
    -moz-animation-duration: 15s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
}

@keyframes animateBloodOne{
    0%   {top: 26px; opacity: 1;}
    10%  {top: 30px;}
    30%  {top: 33px;}
    31%  {top: 128px; opacity: 1;}
    32%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}
@-webkit-keyframes animateBloodOne{
    0%   {top: 26px; opacity: 1;}
    10%  {top: 30px;}
    30%  {top: 33px;}
    31%  {top: 128px; opacity: 1;}
    32%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}
@-moz-keyframes animateBloodOne{
    0%   {top: 26px; opacity: 1;}
    10%  {top: 30px;}
    30%  {top: 33px;}
    31%  {top: 128px; opacity: 1;}
    32%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}

.blood.two {
	top: 25px;
	left: 43px;
    z-index: -1;
    animation-name: animateBloodTwo;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    /*Safari and Chrome: */
    -webkit-animation-name: animateBloodTwo;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    /* Firefox */
    -moz-animation-name: animateBloodTwo;
    -moz-animation-duration: 7s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
}

@keyframes animateBloodTwo{
    0%   {top: 25px; opacity: 1;}
    10%  {top: 29px;}
    60%  {top: 32px;}
    62%  {top: 128px; opacity: 1;}
    63%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}
@-webkit-keyframes animateBloodTwo{
    0%   {top: 25px; opacity: 1;}
    10%  {top: 29px;}
    60%  {top: 32px;}
    62%  {top: 128px; opacity: 1;}
    63%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}
@-moz-keyframes animateBloodTwo{
    0%   {top: 25px; opacity: 1;}
    10%  {top: 29px;}
    60%  {top: 32px;}
    62%  {top: 128px; opacity: 1;}
    63%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}

.blood.three {
	top: 25px;
	left: 91px;
    z-index: -1;
    animation-name: animateBloodThree;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    /*Safari and Chrome: */
    -webkit-animation-name: animateBloodThree;
    -webkit-animation-duration: 12s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    /* Firefox */
    -moz-animation-name: animateBloodThree;
    -moz-animation-duration: 12s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
}

@keyframes animateBloodThree{
    0%   {top: 25px; opacity: 1;}
    10%  {top: 29px;}
    60%  {top: 32px;}
    62%  {top: 128px; opacity: 1;}
    63%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}
@-webkit-keyframes animateBloodThree{
    0%   {top: 25px; opacity: 1;}
    10%  {top: 29px;}
    60%  {top: 32px;}
    62%  {top: 128px; opacity: 1;}
    63%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}
@-moz-keyframes animateBloodThree{
    0%   {top: 25px; opacity: 1;}
    10%  {top: 29px;}
    60%  {top: 32px;}
    62%  {top: 128px; opacity: 1;}
    63%  {top: 131px; opacity: 0;}
    100% {top: 131px; opacity: 0;}
}

.mute-all {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 9C13.5 7.23 12.48 5.71 11 4.97V7.18L13.45 9.63C13.48 9.43 13.5 9.22 13.5 9ZM16 9C16 9.94 15.8 10.82 15.46 11.64L16.97 13.15C17.63 11.91 18 10.5 18 9C18 4.72 15.01 1.14 11 0.23V2.29C13.89 3.15 16 5.83 16 9ZM1.27 0L0 1.27L4.73 6H0V12H4L9 17V10.27L13.25 14.52C12.58 15.04 11.83 15.45 11 15.7V17.76C12.38 17.45 13.63 16.81 14.69 15.95L16.73 18L18 16.73L9 7.73L1.27 0ZM9 1L6.91 3.09L9 5.18V1Z' fill='white'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 20px center;
	display: inline-block;
	border: 2px solid #fff;
	width: 140px;
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 25px;
	text-align: right;
	text-transform: uppercase;
	font-size: 13px;
	font-size: 13px;
}

.mute-all:hover {
	border-color: #DA2424;
}

/** SOUND */

.sound {
	display: inline-block;
	padding: 0 10px;
	height: 145px;
	margin-bottom: 20px;
	text-align: center;
}

.sound[data-play="1"] .cover{
	opacity: 1;
}

.sound[data-play="1"] input {
	opacity: 1;
}

.cover {
	width: 100px;
	height: 100px;
	opacity: 0.5;
	transition: all 0.5s ease;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.cover[data-tooltip]:after {
	display: none;
	content: attr(data-tooltip);
	position: absolute;
	width: 100%;
	height: auto;
	color: #fff;
	text-align: center;
	top: -15px;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.5s ease;
}

.cover[data-tooltip]:hover:after {
	display: block;
}

/** RANGE */

input[type=range] {
	opacity: 0;
	-webkit-appearance: none;
	margin: 10px auto 0;
	max-width: 75%;
	background: transparent;
  }
  input[type=range]:focus {
	outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	box-shadow: none;
	background: #da2424;
	border-radius: 25px;
	border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 18px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
	background: #db2828;
  }
  input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: none;
	background: #da2424;
	border-radius: 25px;
	border: none;
  }
  input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 18px;
	background: #ffffff;
	cursor: pointer;
  }
  input[type=range]::-ms-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range]::-ms-fill-lower {
	background: #d62323;
	border: 0px solid #dbd58f;
	border-radius: 50px;
	box-shadow: none;
  }
  input[type=range]::-ms-fill-upper {
	background: #da2424;
	border: none;
	border-radius: 50px;
	box-shadow: none;
  }
  input[type=range]::-ms-thumb {
	box-shadow: none;
	border: 6.5px solid #ffffff;
	height: 18px;
	width: 18px;
	border-radius: 18px;
	background: #ffffff;
	cursor: pointer;
	height: 5.1px;
  }
  input[type=range]:focus::-ms-fill-lower {
	background: #da2424;
  }
  input[type=range]:focus::-ms-fill-upper {
	background: #db2828;
  }


/** FOOTER */

.footer {
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	padding: 40px 0;
}

.footer a {
	color: #fff;
}

.footer .wrapper {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notice {
	display: inline-block;
}

.fps {
	display: flex;
	align-items: center;
}

.fps img {
	margin-left: 20px;
}

@media only screen and (max-width:1440px) {
	.wrapper {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.container.image {
		width: 480px;
	}
	.container.sounds {
		width: calc(100% - 480px);
	}
	.sound {
		padding: 0 10px;
	}
	.cover {
		width: 90px;
		height: 90px;
	}
}

@media only screen and (max-width:1024px) {
	main {
		flex-flow: row wrap
	}
	.container.image {
		display: block;
		width: 100%;
		order: 2;
		text-align: center;
	}
	.container.sounds {
		width: 100%;
		display: block;
		order: 1;
	}
	.sound {
		width: 33%;
		padding: 0 15px;
		text-align: center;
	}
	.cover {
		width: 120px;
		height: 120px;
	}
	.footer {
		position: static;
		padding-bottom: 0;
	}
}

@media only screen and (max-width:768px) {
	.header {
		display: block;
	}
	.logo {
		display: block;
		width: 100%;
		padding-top: 100px;
		background-position: top center;
		background-size: 250px;
		padding-left: 0;
		text-align: center;
		height: auto;
	}
	.mute-all {
		display: block;
		margin: 30px auto 0;
	}

	.sound {
		margin-bottom: 30px;
	}

	.footer .wrapper {
		display: block;
		padding: 30px;
		text-align: center;
	}
	.notice {
		display: block;
		margin-bottom: 10px;
	}
	.fps {
		display:block;
	}
	.fps a {
		display: block;
	}
	.fps img {
		margin: 10px 0 0;
	}

	/* TODO: blood on mobile */
	.blood {
		display: none;
	}
}

@media only screen and (max-width:420px) {
	.sound{
		width: 49%;
	}
}
