header{
  position: sticky;
  top: 0%;
  background-color: #F2E3CD;
  padding: 20px;
}
#title{
  color: #F7AF42;
}
#Copyright{
  color: #F7AF42;
}
main{
	background-color: #FAFAFA;
  width: 100%;
  height: 800px;
}
footer{
  bottom: 0%;
  width: 100%;
  padding: 10px 0;
  background-color: #F2E3CD;
}
#wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > div > nav > ul > li{
	text-align: center;
	display: inline-block;
	margin-right: 10px;

}
footer > div > nav > ul > li > a{
    color: #DEB67C;
}
footer > div > nav > ul > li > a:hover{
    color: #F7AF42;
    text-decoration: none;
}
#contact{
  color: #DEB67C;
}
#sponsors {
  color: #DEB67C;
}
#logo{
  width: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#container{
  background-color: #FAFAFA;
  padding: 40px;
  border: solid;
  border-color: #F7AF42;
}
#tabs{
  align: center;
  display: inline-block;
}
#tabs > li{
  width: 300px;
}
#tabs > .active > a{
  background-color: #FAFAFA;
  color: #CC9137;
}
#tabs > li > a{
  background-color: #F7AF42;
  color: #FAFAFA;
}
/*////////////////////////CONNECT_ZONE.PHP//////////////////////*/
#connect{
  position: absolute;
  top: 25%;
  left: 87.5%;
}
#getco{
  width: 200px;
  background-color: #FAFAFA;
  color: #CC9137;
  border: 2px solid #F7AF42;
}
#goaccount> h3{
  color: #CC9137;
}
#connect > p{
  color: #CC9137;
}
#creation > a{
  color: #CC9137;
}
#creation > a:hover{
  text-decoration: none;
  color: #F7AF42;
}
/*////////////////////////MONCOMPTE.PHP//////////////////////*/
#secondconnect{
  position: absolute;
  top: 10%;
  left: 90%;
}
#goaccount > a{
  color: #CC9137;
}
#goaccount > a:hover{
  text-decoration: none;
  color: #F7AF42;
}
#deconnect > a{
  color: #CC9137;
}
#deconnect > a:hover{
  text-decoration: none;
  color: #F7AF42;
}


/*////////////////////////////////////////////*/
label{
  color: #F7AF42;
}
#Error{
  color: #CC9137;
}

/*/////////////////////////////*/
#form_connect{
  position: relative;
  left:5px;
  bottom: 25px;
}
#formconnexion{
  background-color: #F7AF42;
  color: #FAFAFA;
}


.abos{
  background-color: #FAFAFA;
  border: 2px solid #F7AF42;
  margin: 5px;
  padding: 5px;
}
#abonnements > a{
  color: #CC9137;
}
#abonnements > a:hover{
  text-decoration: none;
  color: #F7AF42;
}
