header{
  position: sticky;
  top: 0%;
  background-color: #F2E3CD;
  padding: 50px;
}
main{
	background-color: #FAFAFA;
  width: 100%;
  height: 800px;
}
footer{
  /*position: absolute;*/
  bottom: 0%;
  width: 100%;
  padding: 10px 0;
  background-color: #F2E3CD;
}
#wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{
  color: #F7AF42;
}
h2{
  
}
footer > div > nav > ul > li{
	text-align: center;
	display: inline-block;
	margin-right: 10px;

}
footer > div > nav > ul > li > a{
    color: #DEB67C;
}
footer > div > nav > ul > li > a:hover{
    color: #F7AF42;
}
footer > div > nav > ul > #contact{
  color: #DEB67C;
}
footer > div > nav > ul > #sponsors {
  color: #DEB67C;
}
#head_title > h1{
  position: absolute;
  top: 5%;
  left: 44%;
}
#logo{
  width: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
}
