header{
  background-color: #F2E3CD;
  height: 145px;
}
main{
	background-color: #FAFAFA;
  width: 100%;
  height: 800px;
}
footer{
  position: absolute;
  bottom: 0%;
  height: 4.5%;
  width: 100%;
  background-color: #F2E3CD;
}
h1{
  color: #F7AF42;
}
footer > nav > ul > li{
	text-align: center;
	display: inline-block;
	font-family: 'Roboto';
	display: inline-block;
	margin-right: 10px;

}
footer > nav > ul > li > a{
    color: #DEB67C;
}
footer > nav > ul > li > a:hover{
    color: #F7AF42;
}
footer > nav > ul > #contact{
  color: #DEB67C;
  position: absolute;
  left: 2%;
  bottom: 20%;
}
footer > nav > ul > #sponsors {
  color: #DEB67C;
  position: absolute;
  right: 2%;
  bottom: 20%;
}
#head_title > h1{
  position: absolute;
  top: 5%;
  left: 44%;
}
#logo{
  width: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
}
